//Primary Colors

$red: hsl(0, 100%, 74%);
$green: hsl(154, 59%, 51%);

//Accent Colors

$blue: hsl(248, 32%, 49%);

//Neutral Colors

$darkblue: hsl(249, 10%, 26%);
$grayishblue: hsl(246, 25%, 77%);
